.asdvasdvadfvasdvca{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 24px 0;
    background-color: #e9f6f9;
}
.asdvasdvadfvasdvca .aeadc{
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
    font-size: 28px;
}
.asdvasdvadfvasdvca button{
    font-family: Roboto;

}
.asdvasdvadfvasdvca .leading-normal{
    font-family: inter;
    font-size: 18px;

}

<div className="th-pagination">

              <ul>
              <Link className="next-page" role="button" href="#!"><img src="/img/icon/arrow-right4.svg" alt="" style={{transform:"scaleX(-1)"}}/> Previous </Link>

                <li><Link class="active" href="#!">1</Link></li>

                <li><Link href="#!">2</Link></li>

                <li><Link href="#!">3</Link></li>

                <li><Link href="#!">4</Link></li>

                <li>

                  <Link class="next-page" role="button" href="#!"

                    >Next <img src="/img/icon/arrow-right4.svg" alt=""

                  /></Link>

                </li>

              </ul>

            </div>