.description-content  a{
color:green;

}
.description-content h1,
.description-content h2,
.description-content h3,
.description-content h4,
.description-content h5,
.description-content h6{
    color:#013900;
 
        font-size: 1.5rem /* 24px */;
        line-height: 2rem /* 32px */;
}
/* .im:after{
    content: url('../../../assets/png/My project 1.png');
    z-index:-1;
    position: absolute;
    bottom: 0px ;
    right:0px;
  

}
.im:before{
    content: url('../../../assets/png/Rectangle 7.png');
    z-index:-2;
    position: absolute;
    bottom: 0px ;
    right:0px;
    
} */