.notes-data {
  font-size: 18px;
  font-weight: 400;
  color:#013900;
}
.notes-data ol{
  list-style-position: inside;
  display: flex;

  flex-direction: column;
  gap: 14px; /* Adjust the value as needed */

}
.notes-data li{
  list-style-type: disc;
}
.asdvasdvadfvasdvca .asdcasdcrw {
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
}
.asdvasdvadfvasdvca .asdcasdcrw  h2{
  font-size: 20px;
  font-weight: 500;
  white-space: wrap;
}
.asdvasdvadfvasdvca .asdcasdcrw  p{
  font-size: 24px;
  font-weight: 600;
  text-align: center;

}